apiVersion: v1
kind: ConfigMap
metadata:
  name: dex-config-tpl
  namespace: backstage
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
data:
  config.yaml: |
    issuer: https://dex.${DNS_SUFFIX}
    storage:
      type: memory
    web:
      http: 0.0.0.0:5556
    telemetry:
      http: 0.0.0.0:5558
    oauth2:
      passwordConnector: local
      skipApprovalScreen: true
    staticClients:
      - id: backstage
        redirectURIs:
          - 'https://backstage.${DNS_SUFFIX}/api/auth/oidc/handler/frame'
        name: 'Backstage'
        secretEnv: DEX_CLIENT_SECRET
        scopes:
          - openid
          - profile
          - email
          - offline_access
    enablePasswordDB: true
    staticPasswords:
      - email: "admin@example.com"
        hash: "$2a$10$2b2cU8CPhOTaGrs1HRQuAueS7JTT5ZHsHSzYiFPm1leZck7Mc8T4W"
        username: "admin"
        userID: "08a8684b-db88-4b73-90a9-3cd1661f5466"
        groups:
          - admins
          - developers
