apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - appproject-cicd.yaml
  - appproject-observability.yaml
  - appproject-platform.yaml
  - appproject-security.yaml

commonAnnotations:
  contact: platform-team
  documentation: https://argo-cd.readthedocs.io/

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/part-of: idp
      owner: platform-team
      business-unit: infrastructure
      environment: demo
