# @section -- CRD Management
crds:
  install: true

# @section -- Priority Class
# -- Priority class for Kyverno admission controller
priorityClassName: platform-policy

# @section -- Resource Management
# -- Resources for the main admission controller.
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 250m
    memory: 256Mi

# -- Liveness probe for the main admission controller.
livenessProbe:
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 1
  successThreshold: 1
  failureThreshold: 3
# -- Readiness probe for the main admission controller.
readinessProbe:
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 1
  successThreshold: 1
  failureThreshold: 3
# -- Startup probe for the main admission controller.
startupProbe:
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 1
  successThreshold: 1
  failureThreshold: 30

# @section -- Background Controller
backgroundController:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi

# @section -- Cleanup Controller
cleanupController:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi

# @section -- Reports Controller
reportsController:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi
