# @section -- Policy Reporter Core
policyReporter:
  # -- Resource requests and limits for the core engine.
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi

# @section -- Policy Reporter UI
ui:
  # -- Enables the deployment of the Policy Reporter UI.
  enabled: true
  # -- Resource requests and limits for the UI.
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi
