apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: k8s-events
  description: Component for events in K8s
  annotations:
    backstage.io/techdocs-ref: dir:.
spec:
  type: service
  lifecycle: production
  owner: guests
