apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  argocd.argoproj.io/sync-wave: "2"

resources:
  - gatewayclass.yaml
  - idp-gateway.yaml
  - idp-wildcard-cert.yaml
  - httproutes/argo-workflows-httproute.yaml
  - httproutes/argocd-httproute.yaml
  - httproutes/grafana-httproute.yaml
  - httproutes/pyrra-httproute.yaml
  - httproutes/sonarqube-httproute.yaml
  - httproutes/vault-httproute.yaml
  - httproutes/redirect-http-to-https.yaml
  - gateway-tls-permission.yaml

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/part-of: idp
      owner: platform-team
      business-unit: infrastructure
      environment: demo
