apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - eso-backstage.yaml
  - backstage-secretstore.yaml
  - backstage-rbac.yaml

# Generate ConfigMap from Catalog users directory
configMapGenerator:
  - name: backstage-catalog-users
    files:
      - admin.yaml=../../../Catalog/users/admin.yaml
      - dev.yaml=../../../Catalog/users/dev.yaml
    options:
      disableNameSuffixHash: true

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/part-of: idp
      owner: platform-team
      business-unit: infrastructure
      environment: demo
