apiVersion: v1
kind: ServiceAccount
metadata:
  name: dex
  namespace: backstage
  labels:
    app.kubernetes.io/name: dex
    app.kubernetes.io/instance: dex
    app.kubernetes.io/component: identity-provider
    app.kubernetes.io/part-of: idp
    owner: platform-team
    business-unit: infrastructure
    environment: demo
  annotations:
    argocd.argoproj.io/sync-wave: "0"
    description: 'Service account for Dex OIDC provider'
    contact: platform-team
automountServiceAccountToken: true
