apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources: []

helmCharts:
  - name: kyverno
    repo: https://kyverno.github.io/kyverno/
    version: 3.5.2
    releaseName: kyverno
    namespace: kyverno-system
    valuesFile: kyverno/values.yaml

  - name: policy-reporter
    repo: https://kyverno.github.io/policy-reporter
    version: 3.5.0
    releaseName: policy-reporter
    namespace: kyverno-system
    valuesFile: policy-reporter/values.yaml

patches:
  # Wave 5: Webhooks (Create Last, Delete First)
  - target:
      kind: ValidatingWebhookConfiguration
    patch: |-
      - op: add
        path: /metadata/annotations/argocd.argoproj.io~1sync-wave
        value: "5"
  - target:
      kind: MutatingWebhookConfiguration
    patch: |-
      - op: add
        path: /metadata/annotations/argocd.argoproj.io~1sync-wave
        value: "5"
