apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  argocd.argoproj.io/sync-wave: "1"

resources:
  - rules/enforce-namespace-labels.yaml
  - rules/require-component-labels.yaml
  - rules/audit-business-labels.yaml
  - rules/audit-namespace-resource-governance.yaml
