apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# This kustomization only propagates labels, no resources
# Resources are managed directly by parent ApplicationSet

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/part-of: idp
      owner: platform-team
      business-unit: infrastructure
      environment: demo
