apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
  argocd.argoproj.io/sync-wave: "1"

resources:
  - namespace.yaml
  - rules/enforce-namespace-labels.yaml
  - rules/require-component-labels.yaml
  - rules/audit-business-labels.yaml
  - rules/audit-namespace-resource-governance.yaml

helmCharts:
  - name: kyverno
    repo: https://kyverno.github.io/kyverno/
    version: 3.5.2
    releaseName: kyverno
    namespace: kyverno-system
    valuesFile: kyverno/values.yaml

  - name: policy-reporter
    repo: https://kyverno.github.io/policy-reporter
    version: 3.5.0
    releaseName: policy-reporter
    namespace: kyverno-system
    valuesFile: policy-reporter/values.yaml
