apiVersion: backstage.io/v1alpha1
kind: Resource
metadata:
  name: observability
  description: Observability Infrastructure Resources
  annotations:
    backstage.io/techdocs-ref: dir:.
    backstage.io/kubernetes-id: kube-prometheus-stack
    backstage.io/kubernetes-namespace: observability
    backstage.io/kubernetes-label-selector: "app.kubernetes.io/part-of=kube-prometheus-stack"
spec:
  type: kubernetes
  lifecycle: production
  owner: platform-team
  system: idp
