app:
  title: Scaffolded Backstage App
  baseUrl: http://localhost:3000

organization:
  name: IDP-Blueprint

backend:
  # Used for enabling authentication, secret is shared by all backend plugins
  # See https://backstage.io/docs/auth/service-to-service-auth for
  # information on the format
  # auth:
  #   keys:
  #     - secret: ${BACKEND_SECRET}
  baseUrl: http://localhost:7007
  listen:
    port: 7007
    # Uncomment the following host directive to bind to specific interfaces
    # host: 127.0.0.1
  csp:
    connect-src: ["'self'", "http:", "https:"]
    # Content-Security-Policy directives follow the Helmet format: https://helmetjs.github.io/#reference
    # Default Helmet Content-Security-Policy values can be removed by setting the key to false
  cors:
    origin: http://localhost:3000
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
  # This is for local development only, it is not recommended to use this in production
  # The production database configuration is stored in app-config.production.yaml
  database:
    client: better-sqlite3
    connection: ":memory:"
  # workingDirectory: /tmp # Use this to configure a working directory for the scaffolder, defaults to the OS temp-dir

integrations:
  github:
    - host: github.com
      # This is a Personal Access Token or PAT from GitHub. You can find out how to generate this token, and more information
      # about setting up the GitHub integration here: https://backstage.io/docs/integrations/github/locations#configuration
      token: ${GITHUB_TOKEN}
    ### Example for how to add your GitHub Enterprise instance using the API:
    # - host: ghe.example.net
    #   apiBaseUrl: https://ghe.example.net/api/v3
    #   token: ${GHE_TOKEN}

proxy:
  ### Example for how to add a proxy endpoint for the frontend.
  ### A typical reason to do this is to handle HTTPS and CORS for internal services.
  # endpoints:
  #   '/test':
  #     target: 'https://example.com'
  #     changeOrigin: true

# Reference documentation http://backstage.io/docs/features/techdocs/configuration
# Note: After experimenting with basic setup, use CI/CD to generate docs
# and an external cloud storage when deploying TechDocs for production use-case.
# https://backstage.io/docs/features/techdocs/how-to-guides#how-to-migrate-from-techdocs-basic-to-recommended-deployment-approach
techdocs:
  builder: "local" # Alternatives - 'external'
  generator:
    runIn: "docker" # Alternatives - 'local'
  publisher:
    type: "local" # Alternatives - 'googleGcs' or 'awsS3'. Read documentation for using alternatives.

auth:
  # see https://backstage.io/docs/auth/ to learn about auth providers
  providers:
    # See https://backstage.io/docs/auth/guest/provider
    # See https://backstage.io/docs/auth/guest/provider
    oidc:
      development:
        metadataUrl: https://dex.${DNS_SUFFIX}/.well-known/openid-configuration
        clientId: backstage
        clientSecret: ${DEX_CLIENT_SECRET}
        prompt: auto

scaffolder:
  # see https://backstage.io/docs/features/software-templates/configuration for software template options

catalog:
  import:
    entityFilename: catalog-info.yaml
    pullRequestBranchName: backstage-integration
  rules:
    - allow: [Component, System, API, Resource, Location]
  locations:
    # IT Components
    - type: file
      target: ../../IT/argocd/catalog-info.yaml
    - type: file
      target: ../../IT/cert-manager/catalog-info.yaml
    - type: file
      target: ../../IT/cilium/catalog-info.yaml
    - type: file
      target: ../../IT/external-secrets/catalog-info.yaml
    - type: file
      target: ../../IT/gateway/catalog-info.yaml
    - type: file
      target: ../../IT/vault/catalog-info.yaml

    # K8s Components
    - type: file
      target: ../../K8s/argocd/catalog-info.yaml
    - type: file
      target: ../../K8s/backstage/catalog-info.yaml
    - type: file
      target: ../../K8s/cicd/catalog-info.yaml
    - type: file
      target: ../../K8s/events/catalog-info.yaml
    - type: file
      target: ../../K8s/observability/catalog-info.yaml
    - type: file
      target: ../../K8s/security/catalog-info.yaml
    - type: file
      target: ../../K8s/vault/catalog-info.yaml

    # Policies Components
    - type: file
      target: ../../Policies/kyverno/catalog-info.yaml
    - type: file
      target: ../../Policies/policy-reporter/catalog-info.yaml

kubernetes:
  # see https://backstage.io/docs/features/kubernetes/configuration for kubernetes configuration options

# see https://backstage.io/docs/permissions/getting-started for more on the permission framework
permission:
  # setting this to `false` will disable permissions
  enabled: true
