app:
  title: Backstage
  baseUrl: https://backstage.${DNS_SUFFIX}

backend:
  baseUrl: https://backstage.${DNS_SUFFIX}
  listen:
    port: 7007
  cors:
    origin: https://backstage.${DNS_SUFFIX}
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true
