app:
  title: Backstage
  baseUrl: https://backstage.${DNS_SUFFIX}

backend:
  baseUrl: https://backstage.${DNS_SUFFIX}
  listen:
    port: 7007
  cors:
    origin: https://backstage.${DNS_SUFFIX}
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true

proxy:
  '/grafana/api':
    target: http://grafana.observability.svc.cluster.local:80/
    headers:
      Authorization: Bearer ${GRAFANA_TOKEN}
